{{#if isEditing}}

	<p class="form-group">
		{{input class="form-control" type="text" value=title}}
	</p>
	<p class="form-group">
		{{input class="form-control" type="text" value=excerpt}}
	</p>
	<p class="form-group">
		{{textarea class="form-control" value=body rows="6"}}
	</p>
  <button class="btn btn-success" {{action 'doneEditing'}}>
    <span class="glyphicon glyphicon-save"></span> Done
  </button>
{{else}}
  <button class="btn btn-primary" {{action 'edit'}}>
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </button>
{{/if}}

<h1>{{title}}</h1>
<h2>by {{author.name}} <small class='muted'>({{format-date date}})</small></h2>

<hr>

<div class='intro'>
  {{format-markdown excerpt}}
</div>

<div class='below-the-fold'>
  {{format-markdown body}}
</div>